body {
    padding-top: 100px;
    text-align: center;
    background-color: rgb(73, 73, 73);
    color: rgb(206, 113, 27);
}

p{
    text-align: center;
    font-size: 35px; 
}

img{ 
    width: 450px;
    text-align: center;
}